ADF/pipeline/LoadMSSQLtoRAW.json
{
	"name": "LoadMSSQLtoRAW",
	"properties": {
		"description": "Generic SQL Pipeline that populates the Metadata RAW Datalake area",
		"activities": [
			{
				"name": "GetConfigurations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT SQLQuery=REPLACE('\nSELECT [DataSetType]=¬MSSQL¬,[RunGroupCode]=¬999¬,[DataSetName]=T.name,[SchemaName]=s.name\n,[TargetLake]=¬RAW¬,[ConnectionId]=¬'+CONVERT(VARCHAR(20),C.iD)+'¬\n,[IsEnabled]=0\nFROM sys.tables t inner join sys.schemas s on t.schema_id=s.schema_id','¬','''')\n  ,[DataSetType]='MSSQL', \n\t\tDBServerName=C.[ConnectionString],\n\t\tDBName=C.[ConnectionName],\n\t\tSQLKVName=C.[ConnectionKVSecret]\n\t\t,SqlUserName=C.[ConnectionKVSecret]\n\t\t  ,DLContainer='metadata'\n\t  ,DLFolder='me_config_dataset'\n\t  ,DLFileName=LOWER(CONCAT(C.[ConnectionName],'_',C.[ConnectionKVSecret]))\n  FROM [ME_Config].[Connection] C\n  Where C.id not in (SELECT ConnectionId From [ME_Config].[DataSet])\n  and C.Connectiontype='MSSQL'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "MetadataEngineIngestionDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Execute_SQL_Pipeline",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetConfigurations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetConfigurations').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Execute Generic Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SQLtoParquet",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SqlServerName": {
										"value": "@{item().DBServerName}",
										"type": "Expression"
									},
									"SqlDatabaseName": {
										"value": "@{item().DBName}",
										"type": "Expression"
									},
									"SQLKVName": {
										"value": "@{item().SQLKVName}",
										"type": "Expression"
									},
									"SqlUserName": {
										"value": "@{item().SqlUserName}",
										"type": "Expression"
									},
									"SQLQuery": {
										"value": "@{item().SQLQuery}",
										"type": "Expression"
									},
									"DLContainer": {
										"value": "@{item().DLContainer}",
										"type": "Expression"
									},
									"DLPath": {
										"value": "@{item().DLFolder}",
										"type": "Expression"
									},
									"DLFileName": {
										"value": "@{item().DLFileName}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DataSetType": {
				"type": "string",
				"defaultValue": "MSSQL"
			},
			"RunGroupCode": {
				"type": "string",
				"defaultValue": "999"
			}
		},
		"folder": {
			"name": "RAW_Load_Pipelines"
		},
		"annotations": []
	}
}