metadataenginedf001/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "metadataenginedf001"
		},
		"Metadataengine_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Metadataengine'"
		},
		"SQLServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQLServer'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://metadataenginekv01.vault.azure.net/"
		},
		"MetadataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://metadatalake001.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DynamicSQLDBtoRAWMetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic SQL Pipeline that populates the Metadata RAW Datalake area",
				"activities": [
					{
						"name": "GetConfigurations",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[ME_Config].[sp_ADFGetDynamicRDBMSQuery]",
								"storedProcedureParameters": {
									"DataSetType": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DataSetType",
											"type": "Expression"
										}
									},
									"RunGroupCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.RunGroupCode",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "MetadataEngineIngestionDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Execute_SQL_Pipeline",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfigurations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfigurations').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute Generic Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SQLtoParquet",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SqlServerName": {
												"value": "@{item().DBServerName}",
												"type": "Expression"
											},
											"SqlDatabaseName": {
												"value": "@{item().DBName}",
												"type": "Expression"
											},
											"SQLKVName": {
												"value": "@{item().SQLKVName}",
												"type": "Expression"
											},
											"SqlUserName": {
												"value": "@{item().SqlUserName}",
												"type": "Expression"
											},
											"SQLQuery": {
												"value": "@{item().SQLQuery}",
												"type": "Expression"
											},
											"DLContainer": {
												"value": "@{item().DLContainer}",
												"type": "Expression"
											},
											"DLPath": {
												"value": "@{item().DLFolder}",
												"type": "Expression"
											},
											"DLFileName": {
												"value": "@{item().DLFileName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Stage Metadata",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FE_Execute_SQL_Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "inbound",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MetadataQuerySource",
											"type": "String"
										},
										"sink": {
											"name": "MetadataQuerySource",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataEntityName",
											"type": "String"
										},
										"sink": {
											"name": "MetadataEntityName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataSchemaName",
											"type": "String"
										},
										"sink": {
											"name": "MetadataSchemaName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectName",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectType",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectlength",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectlength",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectPrecision",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectPrecision",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectScale",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectScale",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectCollation",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectCollation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSetID",
											"type": "String"
										},
										"sink": {
											"name": "DataSetID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectOrder",
											"type": "Int32"
										},
										"sink": {
											"name": "MetadataObjectOrder",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MetadataObjectIdentityFlag",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectIdentityFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectRefreshUTCTimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "MetadataObjectRefreshUTCTimeStamp",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "metadatacontainer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MetadataEntityStage",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete Processed Files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Stage Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "metadatacontainer",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.parquet"
							}
						}
					},
					{
						"name": "Ingest_Metadata",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Delete Processed Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ME_Data].[sp_ProcessDynamicStagedMetadata]",
							"storedProcedureParameters": {
								"DataSetType": {
									"value": {
										"value": "@pipeline().parameters.DataSetType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Metadataengine",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"DataSetType": {
						"type": "string"
					},
					"RunGroupCode": {
						"type": "string"
					}
				},
				"folder": {
					"name": "RMDBS_Metadata_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MetadataEngineIngestionDataset')]",
				"[concat(variables('factoryId'), '/datasets/metadatacontainer')]",
				"[concat(variables('factoryId'), '/datasets/MetadataEntityStage')]",
				"[concat(variables('factoryId'), '/linkedServices/Metadataengine')]",
				"[concat(variables('factoryId'), '/pipelines/SQLtoParquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PrimeDynamicSQLDBtoRAWMetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic SQL Pipeline that populates the Metadata RAW Datalake area",
				"activities": [
					{
						"name": "GetConfigurations",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT SQLQuery=REPLACE('\nSELECT [DataSetType]=¬MSSQL¬,[RunGroupCode]=¬999¬,[DataSetName]=T.name,[SchemaName]=s.name\n,[TargetLake]=¬RAW¬,[ConnectionId]=¬'+CONVERT(VARCHAR(20),C.iD)+'¬\n,[IsEnabled]=0\nFROM sys.tables t inner join sys.schemas s on t.schema_id=s.schema_id','¬','''')\n  ,[DataSetType]='MSSQL', \n\t\tDBServerName=C.[ConnectionString],\n\t\tDBName=C.[ConnectionName],\n\t\tSQLKVName=C.[ConnectionKVSecret]\n\t\t,SqlUserName=C.[ConnectionKVSecret]\n\t\t  ,DLContainer='metadata'\n\t  ,DLFolder='me_config_dataset'\n\t  ,DLFileName=LOWER(CONCAT(C.[ConnectionName],'_',C.[ConnectionKVSecret]))\n  FROM [ME_Config].[Connection] C\n  Where C.id not in (SELECT ConnectionId From [ME_Config].[DataSet])\n  and C.Connectiontype='MSSQL'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "MetadataEngineIngestionDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Execute_SQL_Pipeline",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfigurations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfigurations').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute Generic Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SQLtoParquet",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SqlServerName": {
												"value": "@{item().DBServerName}",
												"type": "Expression"
											},
											"SqlDatabaseName": {
												"value": "@{item().DBName}",
												"type": "Expression"
											},
											"SQLKVName": {
												"value": "@{item().SQLKVName}",
												"type": "Expression"
											},
											"SqlUserName": {
												"value": "@{item().SqlUserName}",
												"type": "Expression"
											},
											"SQLQuery": {
												"value": "@{item().SQLQuery}",
												"type": "Expression"
											},
											"DLContainer": {
												"value": "@{item().DLContainer}",
												"type": "Expression"
											},
											"DLPath": {
												"value": "@{item().DLFolder}",
												"type": "Expression"
											},
											"DLFileName": {
												"value": "@{item().DLFileName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Insert Missing DataSets",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FE_Execute_SQL_Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "me_config_dataset",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataSetType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataSetType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunGroupCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RunGroupCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataSetName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataSetName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SchemaName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SchemaName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TargetLake",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "TargetLake",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ConnectionId",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ConnectionId",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "IsEnabled",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "IsEnabled",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "me_config_dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "me_config_dataset_sqlTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DeleteAllMEDatasetFiles",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Insert Missing DataSets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "me_config_dataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.parquet"
							}
						}
					}
				],
				"parameters": {
					"DataSetType": {
						"type": "string",
						"defaultValue": "MSSQL"
					},
					"RunGroupCode": {
						"type": "string",
						"defaultValue": "999"
					}
				},
				"folder": {
					"name": "RMDBS_Metadata_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MetadataEngineIngestionDataset')]",
				"[concat(variables('factoryId'), '/datasets/me_config_dataset')]",
				"[concat(variables('factoryId'), '/datasets/me_config_dataset_sqlTable')]",
				"[concat(variables('factoryId'), '/pipelines/SQLtoParquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLtoParquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQLtoParquet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LogStart",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@pipeline().parameters.SQLQuery",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerQuery",
								"type": "DatasetReference",
								"parameters": {
									"KvSecretName": {
										"value": "@pipeline().parameters.SQLKVName",
										"type": "Expression"
									},
									"SqlUserName": {
										"value": "@pipeline().parameters.SqlUserName",
										"type": "Expression"
									},
									"SqlDatabaseName": {
										"value": "@pipeline().parameters.SqlDatabaseName",
										"type": "Expression"
									},
									"SqlServerName": {
										"value": "@pipeline().parameters.SqlServerName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetFile",
								"type": "DatasetReference",
								"parameters": {
									"ContainerName": {
										"value": "@pipeline().parameters.DLContainer",
										"type": "Expression"
									},
									"dlFolderName": {
										"value": "@pipeline().parameters.DLPath",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.DLFileName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "LogStart",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ME_Config.sp_insertActivityEvent",
							"storedProcedureParameters": {
								"EventSource": {
									"value": "ADF",
									"type": "String"
								},
								"EventSourceID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"EventActivityName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"EventMessage": {
									"value": {
										"value": "@concat('Source query:',pipeline().parameters.SQLQuery,' started')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Metadataengine",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LogEnd_Fail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SQLtoParquet",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ME_Config.sp_insertActivityEvent",
							"storedProcedureParameters": {
								"EventSource": {
									"value": "ADF",
									"type": "String"
								},
								"EventSourceID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"EventActivityName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"EventMessage": {
									"value": {
										"value": "@concat('Pipeline Failed please investigate')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Metadataengine",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "LogEnd_Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SQLtoParquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ME_Config.sp_insertActivityEvent",
							"storedProcedureParameters": {
								"EventSource": {
									"value": "ADF",
									"type": "String"
								},
								"EventSourceID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"EventActivityName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"EventMessage": {
									"value": {
										"value": "@concat('Pipeline Success')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Metadataengine",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"SqlServerName": {
						"type": "string"
					},
					"SqlDatabaseName": {
						"type": "string"
					},
					"SQLKVName": {
						"type": "string"
					},
					"SqlUserName": {
						"type": "string"
					},
					"SQLQuery": {
						"type": "string"
					},
					"DLContainer": {
						"type": "string"
					},
					"DLPath": {
						"type": "string"
					},
					"DLFileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ChildPipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerQuery')]",
				"[concat(variables('factoryId'), '/datasets/ParquetFile')]",
				"[concat(variables('factoryId'), '/linkedServices/Metadataengine')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataEngineIngestionDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Metadataengine",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Metadataengine')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataEntityStage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Metadataengine",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "MetadataQuerySource",
						"type": "varchar"
					},
					{
						"name": "MetadataEntityName",
						"type": "varchar"
					},
					{
						"name": "MetadataSchemaName",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectName",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectType",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectlength",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectPrecision",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectScale",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectCollation",
						"type": "varchar"
					},
					{
						"name": "DataSetID",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectOrder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MetadataObjectIdentityFlag",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectRefreshUTCTimeStamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ME_Data",
					"table": "MetadataEntityStage"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Metadataengine')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MetadataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ContainerName": {
						"type": "string"
					},
					"dlFolderName": {
						"type": "String"
					},
					"filename": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().filename,'_',guid(),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().dlFolderName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MetadataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerQuery')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQLServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"kvsecretname": {
							"value": "@dataset().KvSecretName",
							"type": "Expression"
						},
						"sqlusername": {
							"value": "@dataset().SqlUserName",
							"type": "Expression"
						},
						"SqlServerName": {
							"value": "@dataset().SqlServerName",
							"type": "Expression"
						},
						"SqlDatabaseName": {
							"value": "@dataset().SqlDatabaseName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"KvSecretName": {
						"type": "string"
					},
					"SqlUserName": {
						"type": "string"
					},
					"SqlDatabaseName": {
						"type": "string"
					},
					"SqlServerName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/me_config_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MetadataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "me_config_dataset",
						"fileSystem": "metadata"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "DataSetType",
						"type": "UTF8"
					},
					{
						"name": "RunGroupCode",
						"type": "UTF8"
					},
					{
						"name": "DataSetName",
						"type": "UTF8"
					},
					{
						"name": "SchemaName",
						"type": "UTF8"
					},
					{
						"name": "TargetLake",
						"type": "UTF8"
					},
					{
						"name": "ConnectionId",
						"type": "UTF8"
					},
					{
						"name": "IsEnabled",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MetadataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/me_config_dataset_sqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Metadataengine",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "DataSetType",
						"type": "varchar"
					},
					{
						"name": "RunGroupCode",
						"type": "varchar"
					},
					{
						"name": "DataSetName",
						"type": "varchar"
					},
					{
						"name": "SchemaName",
						"type": "varchar"
					},
					{
						"name": "TargetLake",
						"type": "varchar"
					},
					{
						"name": "ConnectionId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "IsEnabled",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "ME_Config",
					"table": "DataSet"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Metadataengine')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/metadatacontainer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MetadataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "inbound",
						"fileSystem": "metadata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MetadataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('MetadataLake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "metadatalake001"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Metadataengine')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Metadataengine_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "etladmin"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic SQL Server Driver with SQL Server Authentication  ..",
				"parameters": {
					"kvsecretname": {
						"type": "string"
					},
					"sqlusername": {
						"type": "String"
					},
					"SqlServerName": {
						"type": "String"
					},
					"SqlDatabaseName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SQLServer_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().kvsecretname",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadMSSQLtoRAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic SQL Pipeline that populates the Metadata RAW Datalake area",
				"activities": [
					{
						"name": "GetConfigurations",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[ME_Data].[sp_ADFGetSQLConfig]",
								"storedProcedureParameters": {
									"DataSetType": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DataSetType",
											"type": "Expression"
										}
									},
									"RunGroupCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.RunGroupCode",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "MetadataEngineIngestionDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Execute_SQL_Pipeline",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfigurations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfigurations').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute Generic Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SQLtoParquet",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SqlServerName": {
												"value": "@{item().DBServerName}",
												"type": "Expression"
											},
											"SqlDatabaseName": {
												"value": "@{item().DBName}",
												"type": "Expression"
											},
											"SQLKVName": {
												"value": "@{item().SQLKVName}",
												"type": "Expression"
											},
											"SqlUserName": {
												"value": "@{item().SqlUserName}",
												"type": "Expression"
											},
											"SQLQuery": {
												"value": "@{item().SQLQuery}",
												"type": "Expression"
											},
											"DLContainer": {
												"value": "@{item().DLContainer}",
												"type": "Expression"
											},
											"DLPath": {
												"value": "@{item().DLFolder}",
												"type": "Expression"
											},
											"DLFileName": {
												"value": "@{item().DLFileName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"DataSetType": {
						"type": "string",
						"defaultValue": "MSSQL"
					},
					"RunGroupCode": {
						"type": "string",
						"defaultValue": "999"
					}
				},
				"folder": {
					"name": "RAW_Load_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MetadataEngineIngestionDataset')]",
				"[concat(variables('factoryId'), '/pipelines/SQLtoParquet')]"
			]
		}
	]
}