metadataenginedf001/PartialArmTemplates/ArmTemplate_7_30_2020_17_41_48.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "metadataenginedf001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LoadMSSQLtoRAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic SQL Pipeline that populates the Metadata RAW Datalake area",
				"activities": [
					{
						"name": "GetConfigurations",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[ME_Data].[sp_ADFGetSQLConfig]",
								"storedProcedureParameters": {
									"DataSetType": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DataSetType",
											"type": "Expression"
										}
									},
									"RunGroupCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.RunGroupCode",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "MetadataEngineIngestionDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Execute_SQL_Pipeline",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfigurations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfigurations').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute Generic Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SQLtoParquet",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SqlServerName": {
												"value": "@{item().DBServerName}",
												"type": "Expression"
											},
											"SqlDatabaseName": {
												"value": "@{item().DBName}",
												"type": "Expression"
											},
											"SQLKVName": {
												"value": "@{item().SQLKVName}",
												"type": "Expression"
											},
											"SqlUserName": {
												"value": "@{item().SqlUserName}",
												"type": "Expression"
											},
											"SQLQuery": {
												"value": "@{item().SQLQuery}",
												"type": "Expression"
											},
											"DLContainer": {
												"value": "@{item().DLContainer}",
												"type": "Expression"
											},
											"DLPath": {
												"value": "@{item().DLFolder}",
												"type": "Expression"
											},
											"DLFileName": {
												"value": "@{item().DLFileName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"DataSetType": {
						"type": "string",
						"defaultValue": "MSSQL"
					},
					"RunGroupCode": {
						"type": "string",
						"defaultValue": "999"
					}
				},
				"folder": {
					"name": "RAW_Load_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}