metadataenginedf001/PartialArmTemplates/ArmTemplate_7_29_2020_16_30_35.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "metadataenginedf001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PrimeDynamicSQLDBtoRAWMetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic SQL Pipeline that populates the Metadata RAW Datalake area",
				"activities": [
					{
						"name": "GetConfigurations",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT SQLQuery=REPLACE('\nSELECT [DataSetType]=¬MSSQL¬,[RunGroupCode]=¬999¬,[DataSetName]=T.name,[SchemaName]=s.name\n,[TargetLake]=¬RAW¬,[ConnectionId]=¬'+CONVERT(VARCHAR(20),C.iD)+'¬\n,[IsEnabled]=0\nFROM sys.tables t inner join sys.schemas s on t.schema_id=s.schema_id','¬','''')\n  ,[DataSetType]='MSSQL', \n\t\tDBServerName=C.[ConnectionString],\n\t\tDBName=C.[ConnectionName],\n\t\tSQLKVName=C.[ConnectionKVSecret]\n\t\t,SqlUserName=C.[ConnectionKVSecret]\n\t\t  ,DLContainer='metadata'\n\t  ,DLFolder='me_config_dataset'\n\t  ,DLFileName=LOWER(CONCAT(C.[ConnectionName],'_',C.[ConnectionKVSecret]))\n  FROM [ME_Config].[Connection] C\n  Where C.id not in (SELECT ConnectionId From [ME_Config].[DataSet])\n  and C.Connectiontype='MSSQL'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "MetadataEngineIngestionDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Execute_SQL_Pipeline",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfigurations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfigurations').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute Generic Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SQLtoParquet",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SqlServerName": {
												"value": "@{item().DBServerName}",
												"type": "Expression"
											},
											"SqlDatabaseName": {
												"value": "@{item().DBName}",
												"type": "Expression"
											},
											"SQLKVName": {
												"value": "@{item().SQLKVName}",
												"type": "Expression"
											},
											"SqlUserName": {
												"value": "@{item().SqlUserName}",
												"type": "Expression"
											},
											"SQLQuery": {
												"value": "@{item().SQLQuery}",
												"type": "Expression"
											},
											"DLContainer": {
												"value": "@{item().DLContainer}",
												"type": "Expression"
											},
											"DLPath": {
												"value": "@{item().DLFolder}",
												"type": "Expression"
											},
											"DLFileName": {
												"value": "@{item().DLFileName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Insert Missing DataSets",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FE_Execute_SQL_Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "me_config_dataset",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DataSetType",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataSetType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RunGroupCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RunGroupCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataSetName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataSetName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SchemaName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SchemaName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TargetLake",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "TargetLake",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ConnectionId",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ConnectionId",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "IsEnabled",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "IsEnabled",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "me_config_dataset",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "me_config_dataset_sqlTable",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "DeleteAllMEDatasetFiles",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Insert Missing DataSets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "me_config_dataset",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.parquet"
							}
						}
					}
				],
				"parameters": {
					"DataSetType": {
						"type": "string",
						"defaultValue": "MSSQL"
					},
					"RunGroupCode": {
						"type": "string",
						"defaultValue": "999"
					}
				},
				"folder": {
					"name": "RMDBS_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/me_config_dataset')]",
				"[concat(variables('factoryId'), '/datasets/me_config_dataset_sqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/me_config_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MetadataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "me_config_dataset",
						"fileSystem": "metadata"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "DataSetType",
						"type": "UTF8"
					},
					{
						"name": "RunGroupCode",
						"type": "UTF8"
					},
					{
						"name": "DataSetName",
						"type": "UTF8"
					},
					{
						"name": "SchemaName",
						"type": "UTF8"
					},
					{
						"name": "TargetLake",
						"type": "UTF8"
					},
					{
						"name": "ConnectionId",
						"type": "UTF8"
					},
					{
						"name": "IsEnabled",
						"type": "INT32"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/me_config_dataset_sqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Metadataengine",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "DataSetType",
						"type": "varchar"
					},
					{
						"name": "RunGroupCode",
						"type": "varchar"
					},
					{
						"name": "DataSetName",
						"type": "varchar"
					},
					{
						"name": "SchemaName",
						"type": "varchar"
					},
					{
						"name": "TargetLake",
						"type": "varchar"
					},
					{
						"name": "ConnectionId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "IsEnabled",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "ME_Config",
					"table": "DataSet"
				}
			},
			"dependsOn": []
		}
	]
}