metadataenginedf001/PartialArmTemplates/ArmTemplate_7_29_2020_18_38_43.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "metadataenginedf001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DynamicSQLDBtoRAWMetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generic SQL Pipeline that populates the Metadata RAW Datalake area",
				"activities": [
					{
						"name": "GetConfigurations",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[ME_Config].[sp_ADFGetDynamicRDBMSQuery]",
								"storedProcedureParameters": {
									"DataSetType": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.DataSetType",
											"type": "Expression"
										}
									},
									"RunGroupCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.RunGroupCode",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "MetadataEngineIngestionDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FE_Execute_SQL_Pipeline",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfigurations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfigurations').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute Generic Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "SQLtoParquet",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SqlServerName": {
												"value": "@{item().DBServerName}",
												"type": "Expression"
											},
											"SqlDatabaseName": {
												"value": "@{item().DBName}",
												"type": "Expression"
											},
											"SQLKVName": {
												"value": "@{item().SQLKVName}",
												"type": "Expression"
											},
											"SqlUserName": {
												"value": "@{item().SqlUserName}",
												"type": "Expression"
											},
											"SQLQuery": {
												"value": "@{item().SQLQuery}",
												"type": "Expression"
											},
											"DLContainer": {
												"value": "@{item().DLContainer}",
												"type": "Expression"
											},
											"DLPath": {
												"value": "@{item().DLFolder}",
												"type": "Expression"
											},
											"DLFileName": {
												"value": "@{item().DLFileName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FE_Execute_SQL_Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "inbound",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MetadataQuerySource",
											"type": "String"
										},
										"sink": {
											"name": "MetadataQuerySource",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataEntityName",
											"type": "String"
										},
										"sink": {
											"name": "MetadataEntityName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataSchemaName",
											"type": "String"
										},
										"sink": {
											"name": "MetadataSchemaName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectName",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectType",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectlength",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectlength",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectPrecision",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectPrecision",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectScale",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectScale",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectCollation",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectCollation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DataSetID",
											"type": "String"
										},
										"sink": {
											"name": "DataSetID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectOrder",
											"type": "Int32"
										},
										"sink": {
											"name": "MetadataObjectOrder",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "MetadataObjectIdentityFlag",
											"type": "String"
										},
										"sink": {
											"name": "MetadataObjectIdentityFlag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MetadataObjectRefreshUTCTimeStamp",
											"type": "DateTime"
										},
										"sink": {
											"name": "MetadataObjectRefreshUTCTimeStamp",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "metadatacontainer",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "MetadataEntityStage",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "metadatacontainer",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*.parquet"
							}
						}
					}
				],
				"parameters": {
					"DataSetType": {
						"type": "string"
					},
					"RunGroupCode": {
						"type": "string"
					}
				},
				"folder": {
					"name": "RMDBS_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/metadatacontainer')]",
				"[concat(variables('factoryId'), '/datasets/MetadataEntityStage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/metadatacontainer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MetadataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "inbound",
						"fileSystem": "metadata"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MetadataEntityStage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Metadataengine",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "MetadataQuerySource",
						"type": "varchar"
					},
					{
						"name": "MetadataEntityName",
						"type": "varchar"
					},
					{
						"name": "MetadataSchemaName",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectName",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectType",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectlength",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectPrecision",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectScale",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectCollation",
						"type": "varchar"
					},
					{
						"name": "DataSetID",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectOrder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MetadataObjectIdentityFlag",
						"type": "varchar"
					},
					{
						"name": "MetadataObjectRefreshUTCTimeStamp",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ME_Data",
					"table": "MetadataEntityStage"
				}
			},
			"dependsOn": []
		}
	]
}